@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Krungthep';
  src: url('../fonts/Krungthep.ttf') format('truetype');
}

body{
    background: rgb(54, 2, 254);
}

.wrapper{
    width: 92.72727272727273%;
    margin: 0 auto;
}

header {
    padding: 0 0 0 50px;
    background: rgb(54, 2, 254); 
    overflow: hidden;
    z-index: 9999;
}

header ul.social li a,
.main .work a .caption,
header nav ul li a {
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
}

h1, h2, h3, h4, h5 ,h6{
    color: #fff;
    font-family: "Krungthep", "raleway-regular", arial;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 7vh;
    padding-bottom: 26px;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  

.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.main {
    width: 90%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: rgb(54, 2, 254);
    clear: both;
    margin: 0 auto;
    padding-bottom: 50px;
}

.buttons-section {
    padding-top: 50px;
}

.buttons-section a {
    margin-right: 50px;
}

.buttons-section a:last-child {
    margin-right: 0;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
    background: rgb(54, 2, 254) !important;
    border-color: rgb(54, 2, 254) !important;
    color: #fff !important;
    font-size: 20px;
    letter-spacing: 0.7px;
    height: auto !important;
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    transition: .6s;
}

.btn-primary:hover {
    background: #fff !important;
    border-color: rgb(54, 2, 254) !important;
    color: rgb(54, 2, 254) !important;
    text-decoration: none;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    font-size: 20px;
    letter-spacing: 0.7px;
    height: auto !important;
    padding: 0.7rem 1.7rem;
    text-transform: uppercase;
    transition: .6s;
}

.btn-secondary:hover {
    background: rgb(54, 2, 254) !important;
    border-color: #fff !important;
    color: #fff !important;
    text-decoration: none;
}

input {
    max-width: 200px !important;
    margin: 0 auto !important;
    height: 2.5rem !important;
    padding: 0 1rem !important;
    border: 0 !important;
    border-radius: 3px !important;
    background-color: #f4f4fb !important;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

input.form-input {
    max-width: 269px !important;
    height: 65px !important;
    margin-bottom: 36px !important;
    text-align: center;
    font-size: 18px !important;
    color: rgb(151, 155, 164) !important;
    letter-spacing: 0.3px;
    background: rgb(237, 237, 237) !important;
}

label {
    color: #868f96 !important;
}

textarea {
    resize: none !important;
    height: 7.25rem !important;
    padding: 0 1.125rem !important;
    padding-top: 1.6rem !important;
    padding-bottom: 1rem !important;
    border: 0 !important;
    border-radius: 3px !important;
    border-radius: 3px !important;
    line-height: 1.5 !important;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    max-width: 620px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    font-size: 18px !important;
    color: rgb(151, 155, 164) !important;
    letter-spacing: 0.3px;
    background: rgb(237, 237, 237) !important;
}

.form-input:focus {
    border-color: #868f96 !important;
    box-shadow: none !important;
}

input,
textarea {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

#error {
    color: red;
    display: none;
}