.root {
    font: 14px 'Krungthep', 'Lucida Grande', Helvetica, Arial, sans-serif;
    min-height: 100vh;
    background: rgb(54, 2, 254);
}

.navbar a {
    color: #50596c !important;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
    border: none !important;
    border-bottom: 2px solid rgb(54, 2, 254) !important;
    color: rgb(54, 2, 254) !important;
    text-decoration: none;
}

.logo h1 {
    color: #fff !important;
    font-size: 36px;
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 2.2px;
}

.logo h1:hover {
    border-bottom: none !important;
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {
    .root {
        padding: 20px;
    }
}

a, a:visited {
    color: rgb(54, 2, 254) !important;
}
