@media (min-width:1099px) {
    header nav ul {
        display: block;
        overflow: hidden;
        margin-top: 100px;
        list-style: none;
    }

    header nav ul li {
        display: block;
        margin-bottom: 30px;
    }

    header nav ul li a {
        color: #454545;
        font-family: "raleway-regular", arial;
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 1px;
    }

    header nav ul li a:hover,
    header nav ul li a.selected {
        color: #969595;
    }

    header .footer {
        position: absolute;
        bottom: 50px;
    }

    header ul.social {
        list-style: none;
        margin-bottom: 5px;
    }

    header ul.social li {
        display: block;
        float: left;
        position: relative;
        margin: 0 15px 15px 0;
    }

    header ul.social li a {
        display: block;
        width: 30px;
        height: 30px;
        background: url('../img/sm.png') no-repeat;
        background-position: 0 0;
    }

    header ul.social li a:hover {
        background: url('../img/sm_hover.png') no-repeat;
    }

    header ul.social li a.fb,
    header ul.social li a.fb:hover {
        background-position: 0 0;
    }

    header ul.social li a.google,
    header ul.social li a.google:hover {
        background-position: -31px 0;
    }

    header ul.social li a.twitter,
    header ul.social li a.twitter:hover {
        background-position: -93px 0;
    }

    header .rights p {
        color: #454545;
        font-family: "raleway-regular", arial;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 18px;
    }

    header .rights a {
        font-family: "raleway-bold", arial;
        font-weight: bold;
        text-decoration: none;
        color: #f8114d;
    }
}

@media only screen and (min-width: 1100px) {
    .container h1 {
        max-width: 55%;
        margin: 0 auto;
    }

    header .logo {
        margin-top: 36px;
        margin-left: 68px;
    }
}

@media (max-width:1099px) {
    .rwd_title {
        font-size: 2rem !important;
    }

    .main {
        width: 100%;
        position: relative;
    }
}

@media (max-width:688px) {
    .buttons-section a {
        margin-right: 0;
        margin-top: 20px;
    }
}