@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #fff;
}

.wrapper{
    width: 92.72727272727273%;
    margin: 0 auto;
}

header {
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

header ul.social li a,
.main .work a .caption,
header nav ul li a {
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
}

h1, h2, h3, h4, h5 ,h6{
    color: #4b4848;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  

.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.main {
    width: 100%;
    height: 100%;
    padding-left: 300px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 55;
    background: #fff;
    clear: both;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
    background: #f8114d !important;
    border-color: #f8114d !important;
    color: #fff !important;
}

input {
    max-width: 200px !important;
    margin: 0 auto !important;
    height: 2.5rem !important;
    padding: 0 1rem !important;
    border: 0 !important;
    border-radius: 3px !important;
    background-color: #f4f4fb !important;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

label {
    color: #868f96 !important;
}

textarea {
    resize: none !important;
    height: 7.25rem !important;
    padding: 0 1.125rem !important;
    padding-top: 1.6rem !important;
    padding-bottom: 1rem !important;
    border: 0 !important;
    border-radius: 3px !important;
    background-color: #f4f4fb !important;
    border-radius: 3px !important;
    line-height: 1.5 !important;
    -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    max-width: 620px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.form-input:focus {
    border-color: #868f96 !important;
    box-shadow: none !important;
}

input,
textarea {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

#error {
    color: red;
    display: none;
}